<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>web-demo</display-name>
	
	<context-param>
		<param-name>test1</param-name>
		<param-value>value1</param-value>
	</context-param>
	
	<context-param>
		<param-name>test2</param-name>
		<param-value>value2</param-value>
	</context-param>
	
	<context-param>
		<param-name>test3</param-name>
		<param-value>value3</param-value>
	</context-param>
	
	<context-param>
		<param-name>test4</param-name>
		<param-value>value4</param-value>
	</context-param>
	
	<listener>
		<listener-class>com.anjz.web.listener.CustomListener</listener-class>
	</listener>
	
	
	<servlet>
		<servlet-name>myServlet</servlet-name>
		<servlet-class>com.anjz.web.servlet.MyServlet</servlet-class>
		<init-param>
			<param-name>param1</param-name>
			<param-value>avalible in servlet init()</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	
	
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>